footer {
  width: 100%;
  height: 50px; 
  display: flexbox;
  justify-content: flex-end;
  background-color: var(--primary-color);
  border-bottom: 2px solid var( --secondary-color);

}

.footer-links {
  justify-content: flex-end;
  width: 100%;
  height: 100%;

}

