.new-card {
  
  display: inline-block;
  text-align: center;
  width: 800px;
  height: 600px;
  justify-content: center;
  align-content: center;
  color: white;
  max-width: 70vw;
  margin: 5px;
  padding: 5px;
  outline: 3px dotted rgba(52, 52, 52, 0.34); 
  border: 5px white;
  overflow: hidden;

  /* text-decoration: none; */
  background: rgb(45,64,89);
  background: linear-gradient(0deg, rgba(45,64,89,1) 0%, rgba(61,102,128,1) 100%);
  -webkit-box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
}
