.edit-card {
  display: inline-block;
  width: 800px;
  height: 600px;
  justify-content: center;
  align-content: center;
  color: white;
  max-width: 70vw;
  margin:  5px;
  padding: 5px;
  border: 5px white;
  background: rgb(45,64,89);
  background: linear-gradient(0deg, rgba(45,64,89,1) 0%, rgba(61,102,128,1) 100%);
  -webkit-box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 21px -14px rgba(0,0,0,0.75);
  
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  height: 100%;
  width: 100%;
  
}
