:root {
  --primary-color: #223D4E;
  --secondary-color: #2D4059;
  --offwhite-primary: #EFECEC;
  --offwhite-secondary: #f1f1f1;
  --secondary-text: #363434;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
max-width: 100%;
margin: 50px;
}

main {  
  display: flexbox;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
/* background: var(--primary-color); */
  
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 50px;
  background: var(--primary-color);
  height: 500px;
  width: 100vw;
}

h4, button {
  padding: 10px;
  border-radius: 50px 20px;
  /* background: var(--secondary-text) */
}
h4, button:hover {
  background: var(--offwhite-primary);
}
.img-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;

}
